{
  "16": "https://cdn2.titantv.com/4GLjWWYP_Xqc1gMx-nOEHEMnYBXGRSXsCqA66t8PCVM.png",
  "23": "https://cdn2.titantv.com/4GLjWWYP_XqjpgvJygYw4z7lVE-EV-dErm2Qh6o5AYQ.png",
  "21.1": "https://cdn2.titantv.com/vqcwqONcKBpeCMeomJlowv2RMxLmcTlwRhupXvKoT8w.png",
  "15.1": "https://cdn2.titantv.com/aaz1RDiH5Q9YCm43U9-qYgxqW_xcSAZCsgKWXRTnyk4.png",
  "2.1": "https://cdn2.titantv.com/xqfSNVwO9Rie2FoqNBnzShPrr3KWiZW9zFJ0RWWFoYw.png",
  "2.2": "https://cdn2.titantv.com/xqfSNVwO9RjCOAu9eo7EaG2ILLIXrh_7SsUYk6nNc4I.png",
  "2.3": "https://cdn2.titantv.com/xqfSNVwO9RilYbmxPMwmOHKfZ5oni-s11yXhUL2As5Y.png",
  "2.4": "https://cdn2.titantv.com/xqfSNVwO9RgayPVJEno5wDF44iQWfhEmLDEvWILuvH8.png",
  "2.5": "https://cdn2.titantv.com/xqfSNVwO9RiLdUAyhbZZ1B4yD5LAJ1yAfUBW0_CJrdA.png",
  "2.6": "https://cdn2.titantv.com/xqfSNVwO9RgxWoVGdixu_fHjyria-AouAA1fkQQr1cA.png",
  "2.7": "https://cdn2.titantv.com/xqfSNVwO9Rgf1BcJdUJNNZL9VKLyLsZMSxA4F_IO8JU.png",
  "2.8": "https://cdn2.titantv.com/xqfSNVwO9RgXNs84NuSLyL9BjaYElUDLqOvsqnGCcJY.png",
  "12.1": "https://cdn2.titantv.com/a68chsDFqRJ3DaPKrK8QQjs-jROaZSmlBFuq0NQFHnc.png",
  "12.2": "https://cdn2.titantv.com/a68chsDFqRINgpEnk572vdgEGgyCv_77g-aNlLLpaIw.png",
  "12.3": "https://cdn2.titantv.com/vXQVsQyYmwPTb2q5vwl7PQkvUmpkE6lhB_vfWQIGnmQ.png",
  "12.4": "https://cdn2.titantv.com/vXQVsQyYmwOT50PzO4SQo4q-jEEGdcb3Tlu-zYA_miM.png",
  "12.5": "https://cdn2.titantv.com/xqfSNVwO9RiOx6aU-SZaZHfZUtORfnbfutgwrYgv05k.png",
  "12.6": "https://cdn2.titantv.com/xqfSNVwO9Ri9rWxmHHekhe6YpuuZ-itMlDaaH79XnKA.png",
  "12.7": "https://cdn2.titantv.com/xqfSNVwO9RhrxZ6lSAzmTgcgunUjtb6AQrYhWt_g88A.png",
  "12.8": "https://cdn2.titantv.com/xqfSNVwO9RhNODBUeBJ5AOYwvpRjPM6OKKzX7t-N7NA.png",
  "12.9": "https://cdn2.titantv.com/xqfSNVwO9Rh76FNCYetlzdZiz8CCR5i5Eaf5PYH-X9Y.png",
  "12.10": "https://cdn2.titantv.com/xqfSNVwO9Rg8427fWnvaqGdpkJX-5PIkd7RXrpo2iTQ.png",
  "12.11": "https://cdn2.titantv.com/4GLjWWYP_XrdrjjDIlQICr5XLSqNWRdQ47scv92Nm3s.png",
  "15.2": "https://cdn2.titantv.com/aaz1RDiH5Q8Wpqhny2wvoBDuLxVfiiQfepVhFXdylts.png",
  "15.3": "https://cdn2.titantv.com/vXQVsQyYmwNHQdJGSr7WDzMMuIYFewNRMixUdAlx2u4.png",
  "15.4": "https://cdn2.titantv.com/xqfSNVwO9RjwLhASPAVdYgxxCK2nZqUve3F5TPs0e7A.png",
  "16.1": "https://cdn2.titantv.com/xqfSNVwO9RhWkGO0veSsG1_1HzNqAxALN4yHonESxEw.png",
  "16.2": "https://cdn2.titantv.com/xqfSNVwO9Ri09lnj86jeKCYF38op7blyskHmMJtebPc.png",
  "16.3": "https://cdn2.titantv.com/xqfSNVwO9Rj0r-4qABn6NIQ9ve2VxEhRSL8P08BB1Os.png",
  "16.6": "https://cdn2.titantv.com/4GLjWWYP_Xp8-Xg6UP8yiP3bjvHeypiFjey1FM703lI.png",
  "21.2": "https://cdn2.titantv.com/vqcwqONcKBr1oZZcI1p7Tk1Xhxx11gmUEZJfs_Lb58w.png",
  "21.3": "https://cdn2.titantv.com/vXQVsQyYmwMnNeAe9j1IXA2CW9_x-D_aWnRnc-sqiZg.png",
  "26.1": "https://cdn2.titantv.com/466RGBOxwykhpoGCjfMObHJcMHN9q-AObeoLDB_Gzqc.png",
  "27.1": "https://cdn2.titantv.com/vXQVsQyYmwN3EW1KC1YcZ9U4DtAh4ciJq9FYI9_S6c8.png",
  "33.1": "https://cdn2.titantv.com/si50eFPEJQBOJ68Esc14Aae4xZH-VavYbzGk6UqkPAs.png",
  "33.2": "https://cdn2.titantv.com/si50eFPEJQDweK6Y-HP2Ni05HTjjNYj2JFJSyETyp9E.png",
  "33.3": "https://cdn2.titantv.com/si50eFPEJQDgFjYCLNIfTEAMmXvstRFZgOaQAWa1BB0.png",
  "33.4": "https://cdn2.titantv.com/xqfSNVwO9RiWD0bchDuVEz14SEmiEJjcFUMDlu6JFko.png",
  "33.5": "https://cdn2.titantv.com/xqfSNVwO9Rje5FPpcvxN4E0mNMpmuBztN9UYtk_mvFQ.png",
  "33.6": "https://cdn2.titantv.com/xqfSNVwO9RjwfWE-LdzhwrRWMllafW_-d0rq8vJevt4.png",
  "33.7": "https://cdn2.titantv.com/xqfSNVwO9Rgc9GspaFvdJPIUgpkQcNlO65pznC8WClY.png",
  "38.1": "https://cdn2.titantv.com/466RGBOxwynx4vdvclRNBbKoFT1DZRhbMWujU3ZnPWo.png",
  "38.2": "https://cdn2.titantv.com/466RGBOxwymcc6kF1qcGuLpyrZCka0LdLoL2-CjLd14.png",
  "38.3": "https://cdn2.titantv.com/466RGBOxwylvbKr9xtEFeQ5vcN8zOaXrJ42imSXGnpc.png",
  "38.4": "https://cdn2.titantv.com/xqfSNVwO9Rjk7lGPiBHIGbdYMrW-u6frAXwczShyHwg.png",
  "38.5": "https://cdn2.titantv.com/4GLjWWYP_XowMw7ErZWKi5rxSjKQDoS_teyVhbNzs4A.png",
  "38.6": "https://cdn2.titantv.com/4GLjWWYP_XpLgrO4HVqzvikfZcsftZYi98uhBwqI8vM.png",
  "38.7": "https://cdn2.titantv.com/4GLjWWYP_XoUQOUTvDkcUNVu-JoIji1N-SOlfgMUS1I.png",
  "38.8": "https://cdn2.titantv.com/4GLjWWYP_Xr5pnEmP931YmCd-ulzYigo5vhFCjHnzpY.png",
  "38.9": "https://cdn2.titantv.com/4GLjWWYP_XoHqHlYtALDnuV8zx4T2eR4SqRRkPovAtk.png",
  "38.10": "https://cdn2.titantv.com/4GLjWWYP_XpQvXoXYVSg7JVrHjb6sOAHSORnwax4CPE.png",
  "38.11": "https://cdn2.titantv.com/4GLjWWYP_XoWJQLaKXLsNnFTpwzdPmn7tKOb1m6aqqw.png",
  "39.1": "https://cdn2.titantv.com/0WEqoB_j2nnoLvsxsvdYT_BjsEKlxvdbI2FK6QXtxug.png",
  "39.2": "https://cdn2.titantv.com/0WEqoB_j2nkK93O4TAH-cflCb4v-mfxILqxzOPJ04gw.png",
  "39.3": "https://cdn2.titantv.com/0WEqoB_j2nm-xPhecqhT6rOtCrMJ3rbkJ7BQKj1tTms.png",
  "39.4": "https://cdn2.titantv.com/0WEqoB_j2nlBCAfaLmwvJR_GUnuOkpj29Mf3u7tRpac.png",
  "39.5": "https://cdn2.titantv.com/4GLjWWYP_XrGvOkcM8qwo5q33XhT9ot7zprMbQ44Sy8.png",
  "40.1": "https://cdn2.titantv.com/4GLjWWYP_XqvhDFF0o06jHJUA_UyaTGLnMlbPHvW4aA.png",
  "43.1": "https://cdn2.titantv.com/4GLjWWYP_Xos7YUkjrY4_3x9bLXUn7OsFCwUbNOCX24.png",
  "43.2": "https://cdn2.titantv.com/4GLjWWYP_XrwT2S18V9mATihdzJD9vWTgfGI5u5eLaY.png",
  "43.3": "https://cdn2.titantv.com/4GLjWWYP_XpD8yOr3-Cuw1zceTBD4xBzKIQWLXBGlcQ.png",
  "43.4": "https://cdn2.titantv.com/4GLjWWYP_Xo9Rw7jCt2zxtydnX28FKLICsxfx1Ac3LE.png",
  "43.5": "https://cdn2.titantv.com/4GLjWWYP_XrdDBUHemIUU0UOtE7Lrs1zWcIHWV3_6Qo.png",
  "43.6": "https://cdn2.titantv.com/4GLjWWYP_XplGmLs0mhHA4nYQq-9krp3qq28OA9l7Ig.png",
  "43.7": "https://cdn2.titantv.com/4GLjWWYP_XrwWXkviH36eS0QRLASww4j-YRzEKX8qtU.png",
  "45.1": "https://cdn2.titantv.com/466RGBOxwyn_3qs9bHbsb7ETOljDtkGCy4WurP6de-I.png",
  "45.2": "https://cdn2.titantv.com/xqfSNVwO9RhnxozR4ua6n7JU71drIESk3eOLdiF5_x8.png",
  "45.3": "https://cdn2.titantv.com/xqfSNVwO9Rjbe3pwdpxDO9ON3pwzARoXYqFggQKbM5U.png",
  "45.4": "https://cdn2.titantv.com/xqfSNVwO9RigKRrpvnFMBbq0_CaextzdPD3umzU1YKg.png",
  "45.5": "https://cdn2.titantv.com/xqfSNVwO9RjAp3Ij1WRE2sfkMYaBckDuMjtgzJW-uz0.png",
  "45.6": "https://cdn2.titantv.com/4GLjWWYP_XoKDw4iqFgXakBoWophOTitabMKpsQJGD8.png",
  "45.7": "https://cdn2.titantv.com/4GLjWWYP_XrJZ2GCdzx5QSUjXuw054ANOErcIuYVv9U.png",
  "49.1": "https://cdn2.titantv.com/4GLjWWYP_XpHomU24Xy4gWGTPPlKJLPg5Y83hdP6A8Q.png",
  "55.1": "https://cdn2.titantv.com/MibqDw00e2cjr9FULBlg-KT8quBK9ib7rs5vJFDkRvg.png",
  "55.2": "https://cdn2.titantv.com/vXQVsQyYmwN-T86HNwiJfVQQt9SlzOiXHe8NwaE0Nfc.png",
  "55.3": "https://cdn2.titantv.com/xqfSNVwO9RgM02w4UyNNEcvAje8fXdY99_l92SL7Lqk.png"
}